@import "variable";
@import "component/reset";
@import "component/SiteHeader";
@import "component/SiteLogo";
@import "component/SiteNavi";
@import "component/Hero";
@import "component/Section";
@import "component/SiteFooter";
@import "component/ArticleList";
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

body {
    font-family: "Rounded Mplus 1c", sans-serif;
    background: #333;
    text-decoration: none;

    a {
        text-decoration: none;
    }
}