.Header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 9999;
    width: 100%;
    transition: 1s ease-in-out;

    &-Inner {
        margin: 0 auto;
        width: 1000px;
        position: relative;
    }

    &-Title,
    &-Text {
        color: #333;
        transition: 1s ease-in-out;
    }

    &-SpMenu {
        background: #333;
    }

    &-Bg {
        background: rgba(51,51,51,0.9);
        transition: 1s ease-in-out;

        .Header-Title,
        .Header-Text {
            color: $color-white;
            transition: 1s ease-in-out;
        }

        .Header-SpMenu {
            background: $color-white;
        }
    }
}

@media only screen and (max-width: 768px) {
  .Header, .Header-Inner {
    width: 100%;
  }
  .Header{

    &-Text {
        color: $color-white;
    }

  }

}


