.Section {
    padding: 100px 0;
    overflow: hidden;

    &-Wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    &-Title {
        font-size: 20px;
        margin-bottom: 40px;
        color: #888;

    }

    &-Text {
        font-size: 15px;
        line-height: 1.7;
        letter-spacing: 0.1em;
        color: #888;
    }

    &-Gray {
        background: #EEE;
    }

    &-White {
        background: $color-white;
    }

}

@media only screen and (max-width: 768px) {
    .Section {
        padding: 50px 15px;

        &-Wrapper {
            width: 100%;
        }

        &-Title {
            font-size: 20px;
        }

        &-Text {
            font-size: 14px;
        }
    }
}