.SiteLogo {
        padding-left: 10px;

    &__icon,
    &__title {
        display: inline-block;
    }

    &__title {
        font-size: 18px;
        padding-left: 8px;
        overflow: hidden;
        line-height: 30px;
        letter-spacing: 0.2em;
        &--white {
            color: $color-white;

        }
    }

}